.home-title {
    font-size: 6.0em;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-family: Helvetica, Arial, sans-serif;
}

.title-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    margin-top: 30px;
    text-align: center;
    font-family: roboto-thin, Verdana, Tahoma, sans-serif;
    font-size: 2.5em;
    color: #373737;
    padding: 0 2rem;
}

.about-content {
    font-family: roboto, helvetica, sans-serif;
    padding: 8px;
    margin-top: 5px;
    background-color: rgb(205, 231, 255);
}

.item-container {
    font-family: Helvetica, sans-serif;
}

.item-header {
    color: rgb(39, 78, 133);
    margin-bottom: 2px;
    font-family: roboto-medium, Helvetica, sans-serif;
}

.item-subheader {
    display: flex;
    color: green;
    margin-bottom: 2px;
    font-family: roboto-bold, Helvetica, sans-serif;
}

.item-subheader p {
    margin-bottom: 2px;
    line-height: 20px;
}

.location-header {
    font-weight: 600;
    color: rgb(92, 92, 92);
}

.item-header p {
    margin-bottom: 2px;
}

.time-period {
    margin-left: auto;
}

.item-text {
    margin-top: 20px;
    font-family: roboto, Helvetica, sans-serif;
}

.item-header::after  {
    content: "\a";
    white-space: pre;
}

.item-subheader::after {
    content: "\a";
    white-space: pre;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 2rem;
}

.image-list li {
    height: 18vh;
    margin: 10px;
    max-width: fit-content;
}

.image-list img {
    max-height: 100%;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(fonts/Roboto-Bold.ttf);
}